/****************************************************************************************
HOME
****************************************************************************************/

div.thumbnail img {

    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

div.thumbnail a:hover {

	text-decoration: none;
}

div.caption h2 {

	margin: 0 0 15px 0;
}


/****************************************************************************************
DAILY TASKS
****************************************************************************************/

div.complete {

	background-color: #777;
}